@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@200;400;600&family=Roboto:wght@300&display=swap');* {
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-color: #000;
    color: #F6F6F6;
    box-sizing: border-box;
}
.title-destaque{
    color: #990099;

}

.presentacion{
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.presentacion_content{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion_content_title{
    font-family: 'Krona One', sans-serif;
    font-size: 36px;
}

.presentacion_content_text{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.presentacion_links{
    display: flex;
    justify-content: space-between;  
}

.presentacion_links_style{
    background-color: #990099;
    width: 280px;
    border-radius: 16px;
    text-align: center;
    padding: 21.5px 0;
    font-size: 24px;
    text-decoration: none;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.imagem{
    width: 485.705px;
    height: 550.25px;
}